.items {
    width: 100%;
}

.rec.rec-arrow {
    background: #ECF0F3;
    box-shadow: -5px -5px 10px #FFFBFB, 5px 5px 10px rgba(31, 50, 65, 0.29);
    border-radius: 25px;
    color: black;
}

.rec.rec-arrow:hover {
    box-shadow: inset -5px -5px 10px #FFFBFB, inset 5px 5px 10px rgba(31, 50, 65, 0.29);
    border-radius: 25px;
    color: red;
}

.rec.rec-arrow:hover:enabled, .rec.rec-arrow:focus:enabled {
    background-color: #ECF0F3;
    box-shadow: inset -5px -5px 10px #FFFBFB, inset 5px 5px 10px rgba(31, 50, 65, 0.29);
    border-radius: 25px;
    color: red;
}

.rec.rec-dot {
    background: #ECF0F3;
    box-shadow: -5px -5px 10px #FFFBFB, 5px 5px 10px rgba(31, 50, 65, 0.29);
    border-radius: 25px;
}

.rec.rec-dot_active {
    background-color: red;
}

.rec.rec-dot_active:hover:enabled {
    border: 1px solid red;
}

.rec.rec-dot_active:focus:enabled {
    border: 1px solid red;
}

.rec.rec-dot:focus:enabled, .rec.rec-dot:hover:enabled{
    border: 1px solid red;
}
